#child-biaya {
  width: 100%;
  height: 100%;
  display: none;
  grid-template-columns: 300px 1fr 1fr;
  column-gap: 15px;
}
#child-biaya #cover {
  display: grid;
  grid-template-rows: 400px 200px auto;
  row-gap: 15px;
}
#child-biaya #cover #judul {
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
}
#child-biaya #cover #total {
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
}
#child-biaya #list-biaya {
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
}
#child-biaya #blank {
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
}

#child-status {
  width: 100%;
  height: 100%;
  display: none;
  grid-template-columns: 300px 1fr;
  column-gap: 15px;
}
#child-status #bar {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 80px auto;
  row-gap: 15px;
}
#child-status #bar #barjudul {
  height: 80px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
}
#child-status #bar #riwayat {
  height: 100px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
  align-self: flex-start;
}
#child-status #anime {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 100px 1fr;
  row-gap: 15px;
}
#child-status #anime #barH {
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
}
#child-status #anime #animasi {
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
}

#child-naskah {
  width: 100%;
  height: 100%;
  display: none;
  grid-template-columns: 250px 1fr;
  column-gap: 15px;
}
#child-naskah #kategori {
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
}
#child-naskah #buku {
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
  display: grid;
  grid-template-rows: 1fr 10fr;
}
#child-naskah #buku #boke{
  width: 95%;
  height: 95%;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr repeat(4, 1px 1fr);
  grid-template-rows: 1fr 25px 1fr;
}
#child-naskah #buku #boke #boxbook{
  width: 150px;
  height: 270px;
  display: grid;
  grid-template-rows: auto 15px 15px;
  row-gap: 3px;
  justify-self: center;
}
#child-naskah #buku #boke #boxbook img{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
}
#child-naskah #buku #boke #boxbook #bookjudul{
  font-size: small;
  font-weight: bold;
}
#child-naskah #buku #boke #boxbook #bookpenulis{
  font-size: small;
}
#child-naskah #buku #boke #lines{
  box-sizing: border-box;
  border-right: 1px solid #9d9d9d;
  height: 75%;
}
#child-naskah #buku #boke #liness{
  box-sizing: border-box;
  border-top: 1px solid #9d9d9d;
  width: 100%;
  align-self: center;
}
#child-naskah #buku #kate{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr 150px;
  width: 95%;
  column-gap: 15px;
  justify-self: center;
}
#child-naskah #buku #kate #kates{
  font-weight: bold;
  font-size: medium;
  color: #0054a3;
  align-self: center;
  justify-self: flex-start;
}
#child-naskah #buku #kate #liness{
  box-sizing: border-box;
  border-top: 1px solid #9d9d9d;
  width: 100%;
  align-self: center;
}
#child-naskah #buku #kate #next{
  display: grid;
  grid-template-columns: 30px auto 30px;
}
#child-naskah #buku #kate #next #pref{
  align-self: center;
  justify-self: center;
}
#child-naskah #buku #kate #next #nom{
  align-self: center;
  justify-self: center;
}
#child-naskah #buku #kate #next #nex{
  align-self: center;
  justify-self: center;
}
#child-guidelines {
  width: 100%;
  height: 100%;
  display: none;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 0px #9d9d9d;
  grid-template-columns: 1fr 5fr;
  column-gap: 15px;
}
#child-guidelines #struktur {
  box-sizing: border-box;
  background-color: #0054a3;
  border-radius: 15px 0 0 15px;
  display: grid;
  grid-template-rows: 100px 1fr;
  padding-top: 30px;
  padding-left: 30px;
}
#child-guidelines #struktur #logo {
  height: 80px;
  width: 40px;
  background-image: url(../assets/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#child-guidelines #struktur #strukturs {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  margin-top: 15px;
}
#child-guidelines #struktur #strukturs div {
  color: #9d9d9d;
  font-weight: bold;
  font-size: small;
}
#child-guidelines #struktur #strukturs #sone {
  color: white;
}
#child-guidelines #isi {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 20px 1fr;
  padding: 25px;
  row-gap: 50px;
}
#child-guidelines #isi div {
  display: none;
  font-size: small;
}
#child-guidelines #isi #ione {
  display: block;
}
#child-guidelines #isi #h1 {
  font-weight: bold;
  justify-self: center;
}

@media only screen and (max-width: 1600px) {
  #child-biaya {
    grid-template-columns: 250px 1fr 1fr;
  }
  #child-biaya #cover {
    grid-template-rows: 300px 150px auto;
  }
  #child-status #anime {
    grid-template-rows: 70px 1fr;
  }
  #child-status {
    grid-template-columns: 250px 1fr;
  }
  #child-naskah {
    grid-template-columns: 200px 1fr;
  }
  #child-naskah #buku #boke #boxbook{
    width: 130px;
    height: 190px;
  }
  #child-naskah #buku #boke #boxbook img{
    border-radius: 8px;
  }
  #child-guidelines #struktur #logo {
    height: 70px;
    width: 35px;
  }
  #child-guidelines #struktur #strukturs div {
    font-size: x-small;
  }
  #child-guidelines #isi {
    row-gap: 25px;
  }
  #child-guidelines #isi div {
    font-size: x-small;
  }
  #child-guidelines #isi #h1 {
    font-size: medium;
  }
}
